<VirtualHost *:80>

    ServerAdmin admin@example.com

    ServerName mydomain.com

    DocumentRoot /var/www/laravel/public

    <Directory /var/www/laravel>

    Options Indexes MultiViews

    AllowOverride None

    Require all granted

    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log

    CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
